.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

h2 {
  margin: 0;
}

.App-content {
  background: #f9f9f9;
  min-height: calc(100vh - 150px);
  padding: 20px;
}

.DraftEditor-root {
  text-align: left;
  display: flex;
  max-width: 920px;
  min-height: calc(100vh - 150px - 40px);
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.DraftEditor-editorContainer {
  display: flex;
  flex: 1 0 100%;
}

.public-DraftEditor-content {
  padding: 20px;
  flex: 1 0 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
